body {
	margin: auto;
	padding: 0;
	background-color: #fffff9;
}
#logo {
	position: absolute;
	top: 0;
	left: 0;
}
.bilde {
	margin: auto;
	display: block;
	margin-top: 350px;
	background-color: #fffff9
}